/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Generics */


body {

    font-family: "Edu TAS Beginner", cursive;
}





/* Utils */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm {
    max-width: 900px;
    margin: 0 auto;

}



.d-flex {
    display: flex;
}


:root {

    --card-darkgreen: #92c952;
    --card-purple: #771796;
    --card-lightgreen: #24f355;
    --card-darkpink: #d32776;
    --card-pink: #f66b97;
    --card-lightblue: #56a8c2;

}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -1.5rem;
    padding: 1rem 0;
}




img {
    max-width: 100%;
    cursor: pointer;
}




.col-1 {
    width: calc(100% / 12 * 1);
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);

}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: calc(100% / 12 * 12);
}


/* HEADER */

header {
    padding: 1.6rem;
    background-image: url(../img/wall.png);

    h1 {
        font-family: "Edu TAS Beginner", cursive;
        text-align: center;
        font-size: 5rem;

    }

}

/* MAIN */

main {

    background-image: url(../img/cork.png);

}


.card {
    margin-top: 2.5rem;
    width: 300px;
    padding: 1rem 1rem 2rem 1rem;
    background-color: white;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);

    .card-body {
        padding-top: 0.5rem;
        text-align: center;
    }

    .card-img {
        width: 100%;
        object-fit: cover;

    }

    .pin {
        position: absolute;
        top: -10px;
        left: 50%;
        height: 2rem;
        width: 2rem;
        transform: translateX(-50%)
    }
}

.card:hover {
    transform: scale(1.02);
    rotate: 3deg;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9);
    cursor: pointer;
    transition: transform 0.2s;
}




.d-none {

    display: none;
}


#overlay {

    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);


    .modal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        #modal-img {
            border-radius: 20px;
            width: 50%;

        }

        #close-btn {

            padding: 0.6rem 2rem;
            background-color: var(--card-darkpink);
            color: white;
            cursor: pointer;
            border-radius: 20px;
        }

    }

}



/* MEDIA MD TABLET */


@media (max-width: 768px) {
    .col-md-6 {
        width: 50%;
        padding: 0 1rem;
    }

    .container-sm {
        max-width: 90%;
        margin: 0 auto;

    }

    .card {
        width: 100%;
    }
}





/* MEDIA SM SMARTPHONE */
@media screen and (max-width: 480px) {


    .col-sm-12 {
        width: 100%;


    }


    .container-sm {
        max-width: 80%;


    }


}