/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Generics */


body {

    font-family: "Edu TAS Beginner", cursive;
}



/* Utils */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm {
    width: 900px;
    margin: 0 auto;
}



.d-flex {
    display: flex;
}


:root {

    --card-darkgreen: #92c952;
    --card-purple: #771796;
    --card-lightgreen: #24f355;
    --card-darkpink: #d32776;
    --card-pink: #f66b97;
    --card-lightblue: #56a8c2;

}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem;
}

[class^="col-"] {
    border: 2px dashed red;

}

img {
    max-width: 100%;
}




.col-1 {
    width: calc(100% / 12 * 1);
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: calc(100% / 12 * 12);
}


/* HEADER */


header {
    padding: 1.6rem;
    background-image: url(../img/wall.png);

    h1 {
        font-family: "Edu TAS Beginner", cursive;
        text-align: center;
        font-size: 5rem;

    }

}

/* MAIN */

main {
    min-height: 500px;
    background-image: url(../img/cork.png);

}


.card {
    margin-top: 2.5rem;
    width: 300px;
    padding: 1rem 1rem 2rem 1rem;
    background-color: white;
    position: relative;



    .card-body {
        padding-top: 0.5rem;
    }

    .card-img {
        width: 100%;
        object-fit: cover;

    }

    .pin {
        position: absolute;
        left: 132px;
        top: -15px;
        width: 30px;

    }
}